/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=MuseoModerno:wght@300&family=Raleway&display=swap");

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

/* Home / Main */
#home {
  height: 100vh;

  /* Logo / Nav */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1400px;
    margin: 0 auto;

    .logo {
      font-family: "MuseoModerno", cursive;
      font-size: 1.2em;

      color: #232323;
    }
    #menu {
      visibility: hidden;
      position: absolute;
      
      padding: 10px 20px;
      background-color: #fff;
      border-radius: 15px;
      li {
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 50px 20px;
        list-style: none;

        img {
          width: 100%;
          max-width: 20px;
        }
      }
      a {
        text-decoration: none;
        color: #202020;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
      }
    }
    #menu.active {
      visibility: visible;
    }

    #btn-nave {
      display: flex;
      padding: 0.5rem 1rem;
      border: none;
      background: none;
      cursor: pointer;

      #menu-nave {
       
        border-top: 2px solid;
        width: 20px;
      }
      #menu-nave::after {
        content: " ";
          display: block;
          width: 20px;
          background: currentColor;
          border-top: 2px solid;
          margin-top: 5px;
      }
      #menu-nave::before {
        content: " ";
          display: block;
          width: 20px;
          background: currentColor;
          border-top: 2px solid;
          margin-top: 5px;
      }
    }
  }

  /* Home / Text */
  .home-page {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;

    text-align: center;

    background-color: #dbf7cb;
    border-radius: 15px;
    padding: 50px 50px;

    .home-child {
      font-family: "MuseoModerno", cursive;
      font-size: 80px;
      color: #202020;
    }
    .btn-child {
      border: none;
      padding: 15px 25px;
      border-radius: 30px;

      font-size: 25px;
      font-family: "Montserrat", sans-serif;
      font-weight: bolder;

      background-color: #f59982;

      cursor: pointer;
    }
    .social img {
      width: 100%;
      max-width: 30px;

      cursor: pointer;
    }
    .social {
      display: flex;
      justify-content: end;
      gap: 25px;
    }
  }
}

/* Home-02 / Centro */
#home-page-02 {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;

  border-radius: 15px;
  padding: 10px 30px;

  background-color: #f59982;

  .h1-cima {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: bolder;
  }
  .text-centro {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text-centro-01 {
    margin-top: 100px;
    width: 600px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;

    button {
      margin-top: 20px;
      border: none;

      padding: 20px 35px;
      background-color: #232323;
      color: #fff;

      border-radius: 30px;
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
      font-size: 20px;
    }
  }
  .text-centro-02 {
    h3 {
      background-color: #232323;
      margin: 10px;
      padding: 5px 15px;
      border-radius: 15px;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      text-align: center;
    }
  }
  .text-centro-02-child {
    display: flex;
    align-items: center;

    h3 {
      background-color: #232323;
      margin: 10px;
      padding: 5px 15px;
      border-radius: 15px;
      color: #f5f5f5;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
    }
  }
}
